body{
  /* background-color: #151559;
  width: 100%;
  min-height: 100vh;
  background-image:url(../public/bg-top.svg), url(../public/bg-bottom.svg);
  background-color:rgb(57, 107, 214);
  background-repeat: no-repeat, no-repeat;
  background-position:100% 0%, 0% 100%;
  background-size: 25%,25%; */
}
.poll{
  width: 100%;
  min-height:100% ;
  margin-top: 0;
  background-image:url(../public/bg-top.svg), url(../public/bg-bottom.svg);
  background-color: #f6f6fe;
  background-repeat: no-repeat, no-repeat;
  background-position:100% 0%, 0% 100%;
  background-size: 25%,25%;
  margin-top: 0;
  padding-top: 5vh;
}


.subscribe{
  border: solid 1px rgba(197, 189, 222, 0.87);
  border-radius: 5px;
  background-color: rgba(137, 149, 227, 0.781);;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 45px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0;
  transition: background-color 0.9s, color 0.9s;
  
}
.subscribe:hover{
  background-color: rgba(88, 104, 208, 0.781);
}
.subscribe:active{
  color:rgba(88, 104, 208, 0.781); 
  background-color: white;
}
.pricing{
  margin-top: 7vh;
  font-size: 25px;
  color: rgba(88, 104, 208, 0.781);
  text-align: center;
  font-weight: 700;
}
.first{
  margin-top: 8vh;
  width: 75%;
  /* height:50vh ; */
  margin-right: auto;
  margin-left: auto;
  display: block;

}
p{
  padding: 0px;
}
.rows{
  display: flex;
  flex-wrap: wrap;
  /* background-color: white; */
  height:80vh;
}
@media(max-width:767px){
  .poll{
    min-height: 220vh;

  }
  .first{
    width: 70%;
  }
  .row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-height:80vh ; */
  }
  .stacks{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-height: 70%;
    min-width: 90%;
    padding-bottom: 3vh;
  }
  .stacks-mid{
    margin-left:auto;
    margin-right: auto;
    display: block;
    max-height: 90%;
    min-width: 90%;
    padding-bottom: 20px;
  }

}

.stacks{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3%;
  margin-top: 20px;
  background-color: white;
  box-shadow: 1px 2px 4px rgb(240, 238, 238);
  max-height: 70%;
  min-width: 33%;
  align-items: center;
  border:none;
  border-radius: 5px;
  
}
.stacks-mid{
  padding-top: 5%;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 78%;
  min-width:33%;
  /* margin-top: px; */
  color: white;
  align-items: center;
  border:none;
  border-radius: 5px;
  background-color: rgba(88, 104, 208, 0.781)
  
}
.basic{
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}
.basic2{
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.contents2{
  border-bottom: solid 1px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
}
.contents{
  border-bottom: solid 1px;
  padding:8px 0px;
  margin-bottom: 0;
  padding-bottom: 5px;
  text-align: center;
}
.price{
  font-size: 45px;
  text-align: center;
}
.button{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:3vh;
  border: solid 1px rgba(88, 104, 208, 0.781);;
  border-radius: 5px;
  background-color: transparent;
  color: rgba(88, 104, 208, 0.781);
  font-size: 10px;
  font-weight: 700;
  padding: 5px 45px;
  transition: background-color 0.9s, color 0.9s;
}
.button-stack{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:3vh;
  border: solid 1px white;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  padding: 5px 45px;
  transition: background-color 0.9s, color 0.9s;
}
.button2{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:3vh;
  border: solid 1px white;
  border-radius: 5px;
  background-color: rgba(88, 104, 208, 0.781);
  color: white;
  font-size: 10px;
  padding: 5px 45px;
  transition: background-color 0.6s, color 0.7s;
}
.button3{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top:3vh;
  border: none;
  border-radius: 5px;
  background-color:  white;
  font-size: 10px;
  color:  rgba(88, 104, 208, 0.781);
  padding: 5px 45px;
  transition: background-color 0.9s, color 0.9s;
}
.button:hover{
  background-color: rgba(88, 104, 208, 0.781);
  color: #f6f6fe;
}
.button-stack:hover{
  background-color: white;
  color:rgba(88, 104, 208, 0.781);
}
.button2:hover{
  background-color: #f6f6fe;
  font-weight: 700;
  color:  rgba(88, 104, 208, 0.781)

}
.button3:hover{
  background-color: rgba(88, 104, 208, 0.781);
  color: white;
  font-weight: 700; 
}